html {
  background: #eee;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  width: 85%;
  margin: auto;
  background: #fff;
}

video {
  display: block;
  margin: 10px auto;
}

.alert {
  padding: 0;
  margin: 0;
  font-size: 14px;
  display: none;
  color: red;
}

.main__header {
  height: 175px;
  width: 95%;
  color: #000;
  border-bottom: 2px solid #000;
  margin: auto;
}

.main__header img {
  display: inline-block;
}

.main__header p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
}

.main__header pre {
  background: linear-gradient(to right, red, orange, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 500px;
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.menu__boxes {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 20px;
  width: 15%;
  text-align: center;
  user-select: none;
}

.box:hover { cursor: pointer; }
.menu__forms { margin: 20px 0; }

.menu__forms input[type="time"],
.menu__forms input[type="number"] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  display: inline-block;
  padding: 4px;
  color: #000;
  border: 1px solid #888;
  border-radius: 6px;
  width: 30px;
  text-align: center;
}
.menu__forms input[type="file"] { display: none; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.menu__forms input[type="time"],
.menu__forms input[type="number"] {
  -moz-appearance: textfield;
  display: inline-block;
  padding: 4px;
  color: #000;
  border: 1px solid #888;
  border-radius: 6px;
  width: 30px;
  text-align: center;
}

.file_label {
  display: inline-block;
  width: 200px;
  padding: 10px;
  color: #fff;
  background: linear-gradient(to right, #ff7373, #dda0dd);
  border-radius: 6px;
  text-align: center;
}

.label_inner {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.menu__forms div span {
  padding: 10px 0;
  display: block;
}

.image__ascii,
.image__text,
.video__ascii,
.info {
  display: none;
  width: 95%;
  margin: 0 auto;
}

.image_mini_result {
  display: none;
  width: 50%;
  font-size: 9px;
  text-align: center;
  margin: 10px auto;
  border: 1px solid #000;
  padding: 6px;
}

.video_ascii_result {
  display: none;
  width: 90%;
}

.error_block {
  display: none;
  width: 50%;
  margin: 0 auto;
  background: red;
  color: #fff;
  padding: 10px;
  border-radius: 6px;
  text-align: center;
}

.error_block .fas { margin: 0 10px; }

.error_title { font-weight: bold;}
.error_body { font-size: 14px; }

.info_title {
  font-size: 8px;
}

.info_title pre {
  background: linear-gradient(to right, red, orange, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  display: block;
  font-weight: 900;
  text-align: center;
  margin: 0 auto;
}

.footer {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  border-top: 1px solid lightgrey;
}

.footer span {
  font-size: 14px;
  margin: 10px 0;
  display: block;
  color: #838383;
}

.footer_block {
  display: inline-block;
  padding: 6px;
  margin-right: 4px;
  border-radius: 4px;
}

.footer_block a {
  text-decoration: none;
  color: #fff;
}

.footer_block.git {background: #6dd66b; }
.footer_block.donate { background: #0d3685; }

.loading_text {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #888;
}

/* Loading icon from https://loading.io/css/ */
.loading {
  margin: auto;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loading div {
  position: absolute;
  border: 4px solid #888;
  opacity: 1;
  border-radius: 50%;
  animation: loading 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loading div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes loading {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
