html {
  background: #eee;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  width: 85%;
  margin: auto;
  background: #fff;
}

.main__header {
  height: 175px;
  width: 95%;
  color: #000;
  border-bottom: 2px solid #000;
  margin: auto;
}

.main__header img {
  display: inline-block;
}

.main__header p {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.main__header pre {
  background: linear-gradient(to right, orange, cyan, blue, violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  display: block;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
}

.menu__boxes {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.box {
  padding: 20px;
  width: 15%;
  text-align: center;
  user-select: none;
}

.box:hover { cursor: pointer; }

.menu__forms input[type="file"] {
  display: none;
}

.file_label {
  display: inline-block;
  padding: 10px;
  color: white;
  background: linear-gradient(to right, #dda0dd, #ff93b7);
  border-radius: 6px;
}

.menu__forms div span {
  padding: 10px;
  display: block;
}

.image__ascii,
.image__text,
.video__ascii,
.info {
  display: none;
  width: 95%;
  margin: 0 auto;
}

.image_mini_result {
  font-size: 9px;
}

.footer {
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  border-top: 1px solid lightgrey;
}

.footer span {
  font-size: 14px;
  margin: 10px 0;
  display: block;
  color: #838383;
}

.footer_block {
  display: inline-block;
  padding: 6px;
  margin-right: 4px;
  border-radius: 4px;
}

.footer_block a {
  text-decoration: none;
  color: white;
}

.footer_block.git {background: #6dd66b; }
.footer_block.donate { background: #0d3685; }